:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --pepel-text: rgba(117, 117, 117, 1);
  --background-section-one: rgba(47, 48, 58, 1);
  --background-section-four: rgba(245, 244, 250, 1);
  --footer-adress: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--black-text);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */
/* исправить почту и телефон */

.main-nav {
  display: flex;
  align-items: center;
}

.conteiner {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social-links {
  display: flex;
  margin-right: 50px;
}

.social-links > .item:not(:last-child) {
  margin-right: 50px;
}

.social-links-info {
  display: flex;
  margin-left: 50px;
  justify-content: flex-end;
  text-align: center;
}

.social-links-info > .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  color: var(--blue-text);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 24px;
}

.text {
  font-family: Raleway, sans-serif;
  color: var(--black-text);
  letter-spacing: 0.03em;
}

.social-links .link {
  color: var(--black-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.social-links .link:hover,
.social-links .link:focus {
  color: var(--blue-text);
  background: var(--white-text);
  text-decoration: underline;
}

.social-links .current {
  color: var(--blue-text);
}

.links {
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  color: var(--blue-text);
}

.contacts-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--pepel-text);
  cursor: pointer;
}

.contacts-mail:hover,
.contacts-mail:focus {
  color: var(--blue-text);
  text-decoration: underline;
}

.contacts-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--pepel-text);
}

/* hero */
/* в херо кнопку отцентрировать */

.hero {
  background: var(--background-section-one);

  max-width: 1200px;
  line-height: 600px;
  display: flex;
  text-align: center;
}

.conteiner-hero {
}

.name {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  color: var(--white-text);

  height: 120px;
  width: 696px;
  margin-top: 200px;
  margin-bottom: 30px;
  text-align: center;
}

.current {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: var(--white-text);
  background: var(--blue-text);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 4px;
  margin-bottom: 200px;
}

/* критерии */

.feature {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.conteiner-feature {
  max-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: 0;
  margin-right: 0;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  padding: 0;
  list-style: none;
}

.item-set {
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc(100% / 4 - 30px);
}

.item-set h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.item-set p {
  width: 270px;
}

.feature-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--pepel-text);
}

/* main */

.main {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--black-text);

  text-align: center;
}

.conteiner-main {
  max-width: 1200px;
  margin-left: 0;
  margin-right: 0;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 94px;
  padding-left: 0;
  padding-right: 0;
}

.images {
  flex-basis: calc(100% / 3 - 30px);
}

/* команда */

.team,
.team-card {
  background: var(--white-text);
}

.team {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team-card {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--pepel-text);
}

/* address */
.span {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.info {
  background: var(--background-section-one);
  color: var(--footer-adress);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

/* portfolio */
.none {
  display: none;
}

.section-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background: var(--background-section-four);
  color: var(--black-text);
}

.section-button .section-btn:hover {
  color: var(--white-text);
  background: var(--blue-text);
  cursor: pointer;
}

.section-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.portfolio {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--black-text);
  background: var(--background-section-four);
}

.portfolio-finger {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--pepel-text);
  background: var(--background-section-four);
}
